services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres 
      POSTGRES_PASSWORD: postgrespw 
      POSTGRES_DB: auctions
    ports: 
      - 7273:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata: